language: python
python:
  - "2.7"
  - "3.5"
install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt
script:
  - coverage run --source=clouseau -m unittest discover tests/
  - flake8 .
after_success:
  - bash <(curl -s https://codecov.io/bash)
cache: pip
